.video-grid{
    background: #181818;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 40px;
    padding:16px;
    width: 100%;
}

@media screen and (max-width:1170px){
    .video-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:960px){
    .video-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}